extends ../layouts/app

block head
    script(type="text/javascript", src="https://www.gstatic.com/charts/loader.js")
    script(type="text/javascript").
      google.charts.load('current', {packages: ['corechart', 'bar']});
      google.charts.setOnLoadCallback(drawBasic);

      function drawBasic() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Boat');
        data.addColumn('number', 'Average speed');

        var datar = [!{datars}];
        var datah = [!{datahs}];
        var dataRow = [];
        for (var i = 0; i < datah.length && i < datar.length; i++) {
          dataRow.push([datah[i], datar[i]]);
        }

        data.addRows(dataRow);

        var options = {
          title: 'Speed average per boat',
          hAxis: {
            title: 'Boat'
          },
          vAxis: {
            title: 'Speed (kts)'
          }
        };

        var chart = new google.visualization.ColumnChart(
            document.getElementById('chartSpeed'));
        chart.draw(data, options);
      }
block content
    h1 Dashboard
    div.container-fluid
        div.row
            div.col-xs-12
                div#chartSpeed
        div.row
            div#tableTopBoat.col-xs-12.col-sm-6
                h2 5 fastest boats
                table.table.table-hover.table-striped
                    thead
                        tr
                            th #
                            th Boat
                            th Average speed
                    tbody
                        - var i = 0
                        for speed in speeds
                            if i < 5
                                tr
                                    td= ++i
                                    td= speed._id
                                    td= Math.round(speed.speedAvg * 100) / 100
            div#avgHeading.col-xs-12.col-sm-6
                h2 Heading average
                p.text-center(style="font-size: 5em")
                    !{Math.floor(headings[0].headingAvg)} °
    p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.