extends ../layouts/app

block content
    div.row
        div.col-xs-12
            h1 User detail
    div.row
        div.col-xs-12
            div.table-responsive
                table.table.table-hover.table-striped
                    tr
                        th Name
                        td #{user.name}
                    tr
                        th Surname
                        td #{user.surname}
                    tr
                        th Email
                        td #{user.email}
                    tr
                        th Username
                        td #{user.username}
                    tr
                        th Role
                        td #{user.role.name}
                    tr
                        th Api secret key
                        td #{user.api_secret}
    div.row
        div.col-xs-12
            table.table
                tr
                    td
                        a(class="btn btn-default" href='/users') Cancel
                    td
                        a(class="btn btn-primary" href='/users/' + user._id + '/edit') Edit
                    td
                        form(action='/users/' + user._id + '/delete' method="POST")
                            input(type="submit" class="btn btn-danger" value="Remove")

